body {
    background: var(--primary-color);
    transition: 2s;
}

        dialog:not([open]) {
            display: none;
        }
        button {
            background-color: #66Cdaa;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 12px;
        }
        .dark-mode {
            background-color: rgb(32, 33, 36);
            color: #ffffff;
        }