body {
    background-color: white;
    color: black;
    font-size: 25px;
    transition: 1s;
  }
  
  .body {
    transition: background-color 0.3s ease;
}

.darkmode {
    background-color: #333;
    color: #fff;
}

.darkmode-toggle {
    cursor: pointer;
}