body {
    background-color: white;
    color: black;
    font-size: 25px;
    transition: 1s;
  }
  
  .dark-mode {
    background-color: rgb(40, 42, 53);
    color: white;
  }
  button {
    background-color: rgb(40, 42, 53);
    color: white;
    border: none;
    padding: 10px;
    font-size: 20px;
    border-radius: 25px;
    margin-top: 0.5rem;
    margin-right: 0.3rem;
    margin-left: 0.3rem;
  }
  .dark-mode span {
   color: white;

  }
  .dark-mode button {
    background-color: white;
    color: black;
  }